In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/flights_sample_3m.csv')

Type Conversions

In [3]:
df.dtypes

FL_DATE                     object
AIRLINE                     object
AIRLINE_DOT                 object
AIRLINE_CODE                object
DOT_CODE                     int64
FL_NUMBER                    int64
ORIGIN                      object
ORIGIN_CITY                 object
DEST                        object
DEST_CITY                   object
CRS_DEP_TIME                 int64
DEP_TIME                   float64
DEP_DELAY                  float64
TAXI_OUT                   float64
WHEELS_OFF                 float64
WHEELS_ON                  float64
TAXI_IN                    float64
CRS_ARR_TIME                 int64
ARR_TIME                   float64
ARR_DELAY                  float64
CANCELLED                  float64
CANCELLATION_CODE           object
DIVERTED                   float64
CRS_ELAPSED_TIME           float64
ELAPSED_TIME               float64
AIR_TIME                   float64
DISTANCE                   float64
DELAY_DUE_CARRIER          float64
DELAY_DUE_WEATHER          float64
DELAY_DUE_NAS              float64
DELAY_DUE_SECURITY         float64
DELAY_DUE_LATE_AIRCRAFT    float64
dtype: object

In [4]:
df['FL_DATE'] = pd.to_datetime(df['FL_DATE'])  # object -> datetime64
df['AIRLINE'] = df['AIRLINE'].astype('category')  # object -> category
df['DOT_CODE'] = df['DOT_CODE'].astype('string')  # int64  -> string

In [5]:
# Filter all flights from June 2023
print(df[(df['FL_DATE'] >= '2023-06-01') & (df['FL_DATE'] <= '2023-06-30')])

           FL_DATE                 AIRLINE                 AIRLINE_DOT  \
6       2023-06-11  American Airlines Inc.  American Airlines Inc.: AA
96      2023-06-22  Southwest Airlines Co.  Southwest Airlines Co.: WN
128     2023-06-19   United Air Lines Inc.   United Air Lines Inc.: UA
130     2023-06-28  American Airlines Inc.  American Airlines Inc.: AA
284     2023-06-19  Southwest Airlines Co.  Southwest Airlines Co.: WN
...            ...                     ...                         ...
2999633 2023-06-02    Delta Air Lines Inc.    Delta Air Lines Inc.: DL
2999663 2023-06-19  Southwest Airlines Co.  Southwest Airlines Co.: WN
2999710 2023-06-11    Delta Air Lines Inc.    Delta Air Lines Inc.: DL
2999867 2023-06-24               Envoy Air               Envoy Air: MQ
2999894 2023-06-14  Southwest Airlines Co.  Southwest Airlines Co.: WN

        AIRLINE_CODE DOT_CODE  FL_NUMBER ORIGIN         ORIGIN_CITY DEST  \
6                 AA    19805       2134    DCA      Washington, DC  BOS
96                WN    19393       1359    BNA       Nashville, TN  MCO
128               UA    19977        323    EWR          Newark, NJ  ORD
130               AA    19805       2830    SFO   San Francisco, CA  CLT
284               WN    19393       3557    LAX     Los Angeles, CA  BNA
...              ...      ...        ...    ...                 ...  ...
2999633           DL    19790        794    MSP     Minneapolis, MN  RSW
2999663           WN    19393       3293    MSP     Minneapolis, MN  MDW
2999710           DL    19790       2598    ATL         Atlanta, GA  PIT
2999867           MQ    20398       3592    GJT  Grand Junction, CO  DFW
2999894           WN    19393       1716    MCO         Orlando, FL  BNA

                     DEST_CITY  ...  DIVERTED  CRS_ELAPSED_TIME  ELAPSED_TIME  \
6                   Boston, MA  ...       0.0             109.0          89.0
96                 Orlando, FL  ...       0.0             110.0         104.0
128                Chicago, IL  ...       0.0             154.0         136.0
130              Charlotte, NC  ...       0.0             304.0         299.0
284              Nashville, TN  ...       0.0             240.0         230.0
...                        ...  ...       ...               ...           ...
2999633         Fort Myers, FL  ...       0.0             209.0         217.0
2999663            Chicago, IL  ...       0.0              90.0          78.0
2999710         Pittsburgh, PA  ...       0.0             105.0         113.0
2999867  Dallas/Fort Worth, TX  ...       0.0             131.0         113.0
2999894          Nashville, TN  ...       0.0             120.0         122.0

         AIR_TIME  DISTANCE  DELAY_DUE_CARRIER  DELAY_DUE_WEATHER  \
6            58.0     399.0                NaN                NaN
96           83.0     616.0                NaN                NaN
128         107.0     719.0               22.0                0.0
130         268.0    2296.0                1.0                0.0
284         212.0    1797.0                NaN                NaN
...           ...       ...                ...                ...
2999633     186.0    1416.0                NaN                NaN
2999663      64.0     349.0                NaN                NaN
2999710      79.0     526.0                NaN                NaN
2999867      97.0     773.0                NaN                NaN
2999894      99.0     616.0                NaN                NaN

         DELAY_DUE_NAS  DELAY_DUE_SECURITY  DELAY_DUE_LATE_AIRCRAFT
6                  NaN                 NaN                      NaN
96                 NaN                 NaN                      NaN
128                0.0                 0.0                      0.0
130                0.0                 0.0                     28.0
284                NaN                 NaN                      NaN
...                ...                 ...                      ...
2999633            NaN                 NaN                      NaN
2999663            NaN                 NaN                      NaN
2999710            NaN                 NaN                      NaN
2999867            NaN                 NaN                      NaN
2999894            NaN                 NaN                      NaN

[58668 rows x 32 columns]

Handling Missing Values

In [6]:
# df.dropna()                      # Drop rows with any missing values
# df.dropna(subset=['AIR_TIME'])   # Drop only rows missing specific columns
# df.dropna(axis=1, thresh=10000)  # Drop columns with fewer than 10000 non-missing values

# df['ARR_DELAY'].fillna(0, inplace=True)
# df['CANCELLATION_CODE'].fillna('None', inplace=True)

# df['FL_DATE'] = df['FL_DATE'].fillna(method='ffill')

# df['AIR_TIME'].interpolate(inplace=True)  # Linear interpolation

# df = df.set_index('FL_DATE')
# df['AIR_TIME'].interpolate(method='time', inplace=True)

# df['AIR_TIME'].fillna(df['AIR_TIME'].mean(), inplace=True)

# df['COL_NAME'] = df.apply(lambda row: row.fillna(row.mean()), axis=1)

# df['ARR_DELAY_missing'] = df['ARR_DELAY'].isnull()

Encoding Categorical Variables

In [7]:
pd.get_dummies(df['AIRLINE'])

,Alaska Airlines Inc.,Allegiant Air,American Airlines Inc.,Delta Air Lines Inc.,Endeavor Air Inc.,Envoy Air,ExpressJet Airlines LLC d/b/a aha!,Frontier Airlines Inc.,Hawaiian Airlines Inc.,Horizon Air,JetBlue Airways,Mesa Airlines Inc.,PSA Airlines Inc.,Republic Airline,SkyWest Airlines Inc.,Southwest Airlines Co.,Spirit Air Lines,United Air Lines Inc.
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2999996,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2999997,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2999998,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
2999999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [8]:
df['CANCELLATION_CODE'].unique()

array([nan, 'D', 'B', 'A', 'C'], dtype=object)

In [9]:
cancel_map = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
df['CANCELLATION_CODE_ENC'] = df['CANCELLATION_CODE'].map(cancel_map)

Discretization

In [10]:
pd.cut(df['ARR_DELAY'], bins=5)

0          (-99.03, 510.0]
1          (-99.03, 510.0]
2          (-99.03, 510.0]
3          (-99.03, 510.0]
4          (-99.03, 510.0]
                ...
2999995    (-99.03, 510.0]
2999996    (-99.03, 510.0]
2999997    (-99.03, 510.0]
2999998    (-99.03, 510.0]
2999999    (-99.03, 510.0]
Name: ARR_DELAY, Length: 3000000, dtype: category
Categories (5, interval[float64, right]): [(-99.03, 510.0] < (510.0, 1116.0] < (1116.0, 1722.0] < (1722.0, 2328.0] < (2328.0, 2934.0]]

In [11]:
bins = [-np.inf, 0, 15, 60, np.inf]
labels = ['Early or On-Time', 'Slight Delay', 'Moderate Delay', 'Severe Delay']
pd.cut(df['ARR_DELAY'], bins=bins, labels=labels)

0          Early or On-Time
1          Early or On-Time
2          Early or On-Time
3            Moderate Delay
4          Early or On-Time
                 ...
2999995    Early or On-Time
2999996    Early or On-Time
2999997      Moderate Delay
2999998    Early or On-Time
2999999    Early or On-Time
Name: ARR_DELAY, Length: 3000000, dtype: category
Categories (4, object): ['Early or On-Time' < 'Slight Delay' < 'Moderate Delay' < 'Severe Delay']

In [12]:
pd.qcut(df['AIR_TIME'], q=4)  # Quartiles

0          (142.0, 692.0]
1          (142.0, 692.0]
2            (61.0, 95.0]
3          (142.0, 692.0]
4          (142.0, 692.0]
                ...
2999995     (7.999, 61.0]
2999996     (95.0, 142.0]
2999997     (7.999, 61.0]
2999998     (7.999, 61.0]
2999999     (7.999, 61.0]
Name: AIR_TIME, Length: 3000000, dtype: category
Categories (4, interval[float64, right]): [(7.999, 61.0] < (61.0, 95.0] < (95.0, 142.0] < (142.0, 692.0]]

In [13]:
df['CANCELLATION_CODE'].unique()

array([nan, 'D', 'B', 'A', 'C'], dtype=object)

In [14]:
df.head()

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT,CANCELLATION_CODE_ENC
0,2019-01-09,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,1562,FLL,"Fort Lauderdale, FL",EWR,"Newark, NJ",...,186.0,176.0,153.0,1065.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-11-19,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,235.0,236.0,189.0,1399.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-07-22,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,118.0,112.0,87.0,680.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-03-06,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2295,MSP,"Minneapolis, MN",SFO,"San Francisco, CA",...,260.0,285.0,249.0,1589.0,0.0,0.0,24.0,0.0,0.0,NaN
4,2020-02-23,Spirit Air Lines,Spirit Air Lines: NK,NK,20416,407,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",...,181.0,182.0,153.0,985.0,NaN,NaN,NaN,NaN,NaN,NaN

String Manipulation

In [15]:
df[['CITY', 'COUNTRY']] = df['ORIGIN_CITY'].str.split(',', expand=True)
print(df[['ORIGIN_CITY', 'CITY', 'COUNTRY']])

                 ORIGIN_CITY             CITY COUNTRY
0        Fort Lauderdale, FL  Fort Lauderdale      FL
1            Minneapolis, MN      Minneapolis      MN
2                 Denver, CO           Denver      CO
3            Minneapolis, MN      Minneapolis      MN
4                Orlando, FL          Orlando      FL
...                      ...              ...     ...
2999995     Jacksonville, FL     Jacksonville      FL
2999996          Chicago, IL          Chicago      IL
2999997       Huntsville, AL       Huntsville      AL
2999998           Boston, MA           Boston      MA
2999999       Long Beach, CA       Long Beach      CA

[3000000 rows x 3 columns]

In [16]:
df['AIRLINE'] = df['AIRLINE'].str.replace(r'\s+Inc\.$', '', regex=True)
df['AIRLINE']

0                United Air Lines
1                 Delta Air Lines
2                United Air Lines
3                 Delta Air Lines
4                Spirit Air Lines
                    ...
2999995         American Airlines
2999996         American Airlines
2999997           Delta Air Lines
2999998          Republic Airline
2999999    Southwest Airlines Co.
Name: AIRLINE, Length: 3000000, dtype: object

In [17]:
print(df['AIRLINE_DOT'].str.extract(r':\s*(\w+)$'))

          0
0        UA
1        DL
2        UA
3        DL
4        NK
...      ..
2999995  AA
2999996  AA
2999997  DL
2999998  YX
2999999  WN

[3000000 rows x 1 columns]

Concatenating DataFrames

In [18]:
# Two flight records from different months
df_jan = pd.DataFrame({
    'FLIGHT_NO': [101, 102],
    'ORIGIN': ['BOS', 'JFK'],
    'DEST': ['ORD', 'ATL']
})

df_feb = pd.DataFrame({
    'FLIGHT_NO': [103, 104],
    'ORIGIN': ['LAX', 'ORD'],
    'DEST': ['LAS', 'SFO']
})

# Concatenate the two DataFrames
df_all = pd.concat([df_jan, df_feb], ignore_index=True)

print(df_all)

   FLIGHT_NO ORIGIN DEST
0        101    BOS  ORD
1        102    JFK  ATL
2        103    LAX  LAS
3        104    ORD  SFO

Merging DataFrames

In [19]:
# Flights table
df_flights = pd.DataFrame({
    'AIRLINE_CODE': ['UA', 'DL', 'NK', 'UA', 'LY'],
    'ORIGIN': ['BOS', 'JFK', 'LAX', 'ORD', 'BOS'],
    'DEST': ['ORD', 'ATL', 'LAS', 'SFO', 'TLV']
})

# Airline codes to names
df_airlines = pd.DataFrame({
    'CODE': ['UA', 'DL', 'NK'],
    'AIRLINE_NAME': ['United Air Lines', 'Delta Air Lines', 'Spirit Air Lines']
})

# Merge on airline code
df = pd.merge(df_flights, df_airlines, how='left',
              left_on='AIRLINE_CODE', right_on='CODE')

print(df)

  AIRLINE_CODE ORIGIN DEST CODE      AIRLINE_NAME
0           UA    BOS  ORD   UA  United Air Lines
1           DL    JFK  ATL   DL   Delta Air Lines
2           NK    LAX  LAS   NK  Spirit Air Lines
3           UA    ORD  SFO   UA  United Air Lines
4           LY    BOS  TLV  NaN               NaN