In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/people.csv')
print(df.head())

    Name  Age      City
0  Alice   25  New York
1  Kumar   40    Mumbai
2    Mei   35  Shanghai

In [3]:
df = pd.read_json('data/people.json')
print(df.head())

    Name  Age      City
0  Alice   25  New York
1  Kumar   40    Mumbai
2    Mei   35  Shanghai

In [4]:
df = pd.read_excel('data/people.xlsx', sheet_name='Sheet1')
print(df.head())

    Name  Age      City
0  Alice   25  New York
1  Kumar   40    Mumbai
2    Mei   35  Shanghai

In [6]:
from sqlalchemy import create_engine
from getpass import getpass

user = 'root'
password = getpass('Enter password: ')
host = 'localhost'
database = 'university'

# Create SQLAlchemy engine
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}/{database}')
print("Connected successfully!")

Enter password:  ········

Connected successfully!

In [7]:
query = 'SELECT * FROM course'
df = pd.read_sql(query, engine)
print(df.head())

  course_id                       title   dept_name  credits
0   BIO-101           Intro. to Biology     Biology      4.0
1   BIO-301                    Genetics     Biology      4.0
2   BIO-399       Computational Biology     Biology      3.0
3    CS-101  Intro. to Computer Science  Comp. Sci.      4.0
4    CS-190                 Game Design  Comp. Sci.      4.0