In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/people.csv')
print(df.head())

    Name  Age      City
0  Alice   25  New York
1  Kumar   40    Mumbai
2    Mei   35  Shanghai

In [3]:
url = 'https://www.openml.org/data/get_csv/31/dataset_31_bank.csv'
df = pd.read_csv(url)
print(df.head())

  checking_status  duration                    credit_history  \
0            '<0'         6  'critical/other existing credit'
1      '0<=X<200'        48                   'existing paid'
2   'no checking'        12  'critical/other existing credit'
3            '<0'        42                   'existing paid'
4            '<0'        24              'delayed previously'

               purpose  credit_amount      savings_status employment  \
0             radio/tv           1169  'no known savings'      '>=7'
1             radio/tv           5951              '<100'   '1<=X<4'
2            education           2096              '<100'   '4<=X<7'
3  furniture/equipment           7882              '<100'   '4<=X<7'
4            'new car'           4870              '<100'   '1<=X<4'

   installment_commitment       personal_status other_parties  ...  \
0                       4         'male single'          none  ...
1                       2  'female div/dep/mar'          none  ...
2                       2         'male single'          none  ...
3                       2         'male single'     guarantor  ...
4                       3         'male single'          none  ...

    property_magnitude age  other_payment_plans     housing existing_credits  \
0        'real estate'  67                 none         own                2
1        'real estate'  22                 none         own                1
2        'real estate'  49                 none         own                1
3     'life insurance'  45                 none  'for free'                1
4  'no known property'  53                 none  'for free'                2

                    job num_dependents  own_telephone foreign_worker class
0               skilled              1            yes            yes  good
1               skilled              1           none            yes   bad
2  'unskilled resident'              2           none            yes  good
3               skilled              2           none            yes  good
4               skilled              2           none            yes   bad

[5 rows x 21 columns]

In [4]:
df = pd.read_json('data/people.json')
print(df.head())

    Name  Age      City
0  Alice   25  New York
1  Kumar   40    Mumbai
2    Mei   35  Shanghai

In [5]:
df = pd.read_excel('data/people.xlsx', sheet_name='Sheet1')
print(df.head())

    Name  Age      City
0  Alice   25  New York
1  Kumar   40    Mumbai
2    Mei   35  Shanghai

In [ ]:
from sqlalchemy import create_engine
from getpass import getpass

user = 'root'
password = getpass('Enter password: ')
host = 'localhost'
database = 'university'

# Create SQLAlchemy engine
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}/{database}')
print("Connected successfully!")

In [7]:
query = 'SELECT * FROM course'
df = pd.read_sql(query, engine)
print(df.head())

  course_id                       title   dept_name  credits
0   BIO-101           Intro. to Biology     Biology      4.0
1   BIO-301                    Genetics     Biology      4.0
2   BIO-399       Computational Biology     Biology      3.0
3    CS-101  Intro. to Computer Science  Comp. Sci.      4.0
4    CS-190                 Game Design  Comp. Sci.      4.0