In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/flights_sample_3m.csv')

In [3]:
df[(df['ORIGIN'] == 'JFK') & (df['DEP_DELAY'] > 60)]

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
726,2019-08-17,JetBlue Airways,JetBlue Airways: B6,B6,20409,789,JFK,"New York, NY",MCO,"Orlando, FL",...,0.0,180.0,153.0,130.0,944.0,0.0,0.0,37.0,0.0,0.0
1592,2023-08-25,JetBlue Airways,JetBlue Airways: B6,B6,20409,1118,JFK,"New York, NY",BOS,"Boston, MA",...,0.0,92.0,85.0,43.0,187.0,0.0,0.0,75.0,0.0,0.0
1714,2019-11-08,JetBlue Airways,JetBlue Airways: B6,B6,20409,34,JFK,"New York, NY",BTV,"Burlington, VT",...,0.0,72.0,70.0,48.0,266.0,124.0,0.0,0.0,0.0,0.0
3475,2023-04-18,JetBlue Airways,JetBlue Airways: B6,B6,20409,102,JFK,"New York, NY",BUF,"Buffalo, NY",...,0.0,97.0,86.0,58.0,301.0,66.0,0.0,0.0,0.0,0.0
4118,2020-02-09,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,2242,JFK,"New York, NY",DFW,"Dallas/Fort Worth, TX",...,0.0,254.0,252.0,205.0,1391.0,378.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2998402,2023-08-23,JetBlue Airways,JetBlue Airways: B6,B6,20409,65,JFK,"New York, NY",ABQ,"Albuquerque, NM",...,0.0,289.0,266.0,231.0,1826.0,85.0,0.0,0.0,0.0,0.0
2998634,2019-07-07,SkyWest Airlines Inc.,SkyWest Airlines Inc.: OO,OO,20304,3621,JFK,"New York, NY",CLE,"Cleveland, OH",...,0.0,110.0,117.0,76.0,425.0,0.0,0.0,7.0,0.0,114.0
2999015,2022-07-25,JetBlue Airways,JetBlue Airways: B6,B6,20409,383,JFK,"New York, NY",MCO,"Orlando, FL",...,0.0,186.0,192.0,128.0,944.0,197.0,0.0,6.0,0.0,8.0
2999314,2022-06-22,JetBlue Airways,JetBlue Airways: B6,B6,20409,102,JFK,"New York, NY",BUF,"Buffalo, NY",...,0.0,101.0,115.0,56.0,301.0,25.0,0.0,14.0,0.0,96.0
2999678,2023-08-17,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,429,JFK,"New York, NY",LAX,"Los Angeles, CA",...,0.0,375.0,356.0,304.0,2475.0,43.0,0.0,0.0,0.0,17.0

In [4]:
df.query("ORIGIN == 'JFK' and DEP_DELAY > 60")

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
726,2019-08-17,JetBlue Airways,JetBlue Airways: B6,B6,20409,789,JFK,"New York, NY",MCO,"Orlando, FL",...,0.0,180.0,153.0,130.0,944.0,0.0,0.0,37.0,0.0,0.0
1592,2023-08-25,JetBlue Airways,JetBlue Airways: B6,B6,20409,1118,JFK,"New York, NY",BOS,"Boston, MA",...,0.0,92.0,85.0,43.0,187.0,0.0,0.0,75.0,0.0,0.0
1714,2019-11-08,JetBlue Airways,JetBlue Airways: B6,B6,20409,34,JFK,"New York, NY",BTV,"Burlington, VT",...,0.0,72.0,70.0,48.0,266.0,124.0,0.0,0.0,0.0,0.0
3475,2023-04-18,JetBlue Airways,JetBlue Airways: B6,B6,20409,102,JFK,"New York, NY",BUF,"Buffalo, NY",...,0.0,97.0,86.0,58.0,301.0,66.0,0.0,0.0,0.0,0.0
4118,2020-02-09,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,2242,JFK,"New York, NY",DFW,"Dallas/Fort Worth, TX",...,0.0,254.0,252.0,205.0,1391.0,378.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2998402,2023-08-23,JetBlue Airways,JetBlue Airways: B6,B6,20409,65,JFK,"New York, NY",ABQ,"Albuquerque, NM",...,0.0,289.0,266.0,231.0,1826.0,85.0,0.0,0.0,0.0,0.0
2998634,2019-07-07,SkyWest Airlines Inc.,SkyWest Airlines Inc.: OO,OO,20304,3621,JFK,"New York, NY",CLE,"Cleveland, OH",...,0.0,110.0,117.0,76.0,425.0,0.0,0.0,7.0,0.0,114.0
2999015,2022-07-25,JetBlue Airways,JetBlue Airways: B6,B6,20409,383,JFK,"New York, NY",MCO,"Orlando, FL",...,0.0,186.0,192.0,128.0,944.0,197.0,0.0,6.0,0.0,8.0
2999314,2022-06-22,JetBlue Airways,JetBlue Airways: B6,B6,20409,102,JFK,"New York, NY",BUF,"Buffalo, NY",...,0.0,101.0,115.0,56.0,301.0,25.0,0.0,14.0,0.0,96.0
2999678,2023-08-17,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,429,JFK,"New York, NY",LAX,"Los Angeles, CA",...,0.0,375.0,356.0,304.0,2475.0,43.0,0.0,0.0,0.0,17.0

In [5]:
print('Standard Pandas:')
%timeit df[(df['ORIGIN'] == 'JFK') & (df['DEP_DELAY'] > 60)]

print('Query method:')
%timeit df.query("ORIGIN == 'JFK' and DEP_DELAY > 60")

Standard Pandas:
143 ms ± 3.27 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
Query method:
79 ms ± 1.25 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [6]:
df.eval(
    "TOTAL_DELAY_SCORE = 0.4 * DELAY_DUE_CARRIER + 0.2 * DELAY_DUE_WEATHER + "
    "0.2 * DELAY_DUE_NAS + 0.1 * DELAY_DUE_LATE_AIRCRAFT + 0.1 * DELAY_DUE_SECURITY",
    inplace=True
)

# Same as: 
df['TOTAL_DELAY_SCORE'] = (
    0.4 * df['DELAY_DUE_CARRIER'] + 0.2 * df['DELAY_DUE_WEATHER'] + 0.2 * df['DELAY_DUE_NAS'] +
    0.1 * df['DELAY_DUE_LATE_AIRCRAFT'] + 0.1 * df['DELAY_DUE_SECURITY']
)