In [1]:
import pandas as pd

In [2]:
data = {
    "timestamp": [
        "2025-06-01 08:15:00",
        "2025-06-01 09:30:00",
        "2025-06-02 09:45:00",
        "2025-06-02 10:05:00",
        "2025-06-02 10:45:00"
    ],
    "event": ["login", "purchase", "logout", "login", "purchase"],
    "value": [1, 25, 0, 1, 30]
}

df = pd.DataFrame(data)
df

             timestamp     event  value
0  2025-06-01 08:15:00     login      1
1  2025-06-01 09:30:00  purchase     25
2  2025-06-02 09:45:00    logout      0
3  2025-06-02 10:05:00     login      1
4  2025-06-02 10:45:00  purchase     30

In [3]:
print(df[df['timestamp'] >= '2025-06-01 8:00'])

             timestamp     event  value
2  2025-06-02 09:45:00    logout      0
3  2025-06-02 10:05:00     login      1
4  2025-06-02 10:45:00  purchase     30

Converting to Datetime

In [4]:
df['timestamp'] = pd.to_datetime(df['timestamp'])
print(df[df['timestamp'] >= pd.Timestamp('2025-06-01 08:00')])

            timestamp     event  value
0 2025-06-01 08:15:00     login      1
1 2025-06-01 09:30:00  purchase     25
2 2025-06-02 09:45:00    logout      0
3 2025-06-02 10:05:00     login      1
4 2025-06-02 10:45:00  purchase     30

Datetime Attributes

In [5]:
df['year'] = df['timestamp'].dt.year          
df['month'] = df['timestamp'].dt.month       
df['day'] = df['timestamp'].dt.day            
df['hour'] = df['timestamp'].dt.hour          
df['minute'] = df['timestamp'].dt.minute      
df['second'] = df['timestamp'].dt.second

print(df)

            timestamp     event  value  year  month  day  hour  minute  second
0 2025-06-01 08:15:00     login      1  2025      6    1     8      15       0
1 2025-06-01 09:30:00  purchase     25  2025      6    1     9      30       0
2 2025-06-02 09:45:00    logout      0  2025      6    2     9      45       0
3 2025-06-02 10:05:00     login      1  2025      6    2    10       5       0
4 2025-06-02 10:45:00  purchase     30  2025      6    2    10      45       0

In [6]:
df['date'] = df['timestamp'].dt.date          
df['weekday'] = df['timestamp'].dt.day_name() 
df['weekday_num'] = df['timestamp'].dt.weekday

print(df[['timestamp', 'date', 'weekday', 'weekday_num']])

            timestamp        date weekday  weekday_num
0 2025-06-01 08:15:00  2025-06-01  Sunday            6
1 2025-06-01 09:30:00  2025-06-01  Sunday            6
2 2025-06-02 09:45:00  2025-06-02  Monday            0
3 2025-06-02 10:05:00  2025-06-02  Monday            0
4 2025-06-02 10:45:00  2025-06-02  Monday            0

In [7]:
df.groupby(df['timestamp'].dt.floor('D')).size()

timestamp
2025-06-01    2
2025-06-02    3
dtype: int64

In [8]:
data = {
    "timestamp": [
        "2025-06-01 08:15:00",
        "2025-06-01 09:30:00",
        "2025-06-02 09:45:00",
        "2025-06-02 10:05:00",
        "2025-06-02 10:45:00"
    ],
    "event": ["login", "purchase", "logout", "login", "purchase"],
    "value": [1, 25, 0, 1, 30]
}

df = pd.DataFrame(data)
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [9]:
df = df.set_index('timestamp')
print(df.loc['2025-06-01'])  # all rows from June 1, 2025

                        event  value
timestamp
2025-06-01 08:15:00     login      1
2025-06-01 09:30:00  purchase     25

In [10]:
print(df.loc['2025-06'])  # all rows from June 2025

                        event  value
timestamp
2025-06-01 08:15:00     login      1
2025-06-01 09:30:00  purchase     25
2025-06-02 09:45:00    logout      0
2025-06-02 10:05:00     login      1
2025-06-02 10:45:00  purchase     30

In [11]:
print(df.loc['2025-06-02 10':'2025-06-02 11'])  # between 10am and 11am

                        event  value
timestamp
2025-06-02 10:05:00     login      1
2025-06-02 10:45:00  purchase     30